In [1]:
from ppanlp import *

In [2]:
import multiprocessing as mp
mp.cpu_count()

16

In [2]:
dfmeta = get_metadata()
dfmeta.columns

  0%|          | 0/7 [00:00<?, ?it/s]

100%|██████████| 7/7 [00:09<00:00,  1.37s/it]

Index(['AuthorByline', 'Title', 'Edition', 'CurrentVolume', 'Imprint',
       'Collation', 'NumberOfPages', 'ImageLocation', 'DataLocation',
       'Filename', 'subcorpus'],
      dtype='object')

In [3]:
dfmeta['DataLocation'].iloc[0]

'\\ECCOII_SciTechMed\\XML\\ECCOF0001-C00027\\MONOGRAPHS\\'

In [28]:
df_excerpts = pd.read_csv('data/ECCO Excerpts-DigitizedWork-2023-09-20.csv')[['source_id','record_id','title','pages_orig','pages_digital']]
df_excerpts

,source_id,record_id,title,pages_orig,pages_digital
0,CW0114589903,T131403,"An ACCOUNT of the ensuing POEM, In a LETTER to...",41-51,55-65
1,CW0116618490,T215986,"AN ACCOUNT OF THE ENSUING POEM, IN A LETTER TO...",31-45,37-51
2,CW0112189850,T144726,"THE ACTOR. ADDRESSED TO BONNELL THORNTON, Esq;...",61-71,66-76
3,CW0114438540,T94005,THE ART OF ENGLISH POETRY.,45-209,52-215
4,CW0114589903,T131403,THE ART OF POETRY.,233-267,242-276
...,...,...,...,...,...
188,CW0112122794,W20405,RULES FOR READING AND SPEAKING.,7-11,6-10
189,CW0116821216,T215986,SOLOMON ON THE VANITY OF THE WORLD. A POEM IN ...,124-135,121-130
190,CW0108523281,T147035,SYSTEM OF GRAMMAR.,NaN,413-426
191,CW0113887661,N41809,SYSTEM OF GRAMMAR.,NaN,631-644
192,CW0112550833,T10098,THOUGHTS ON LYRIC POETRY.,3-14,8-19

In [29]:
df_excerpts_ecco2 = df_excerpts[df_excerpts.source_id.str.startswith('CB')]
df_excerpts_ecco2

,source_id,record_id,title,pages_orig,pages_digital
11,CB0131343042,N20236,A COMPENDIOUS English Grammar.,NaN,6-15
12,CB0129438775,N20231,A COMPENDIOUS ENGLISH GRAMMAR.,NaN,8-17
13,CB0128108681,N25296,Conjectures on Original Composition. In a Lett...,179-218,183-222
15,CB0129206667,T149838,A CRITICAL DISSERTATION ON The Origin and Prog...,ix-lii,9-52
41,CB0131116162,T143005,An Essay on Dramatick Poesie,1-29,7-35
42,CB0132627374,N34692,AN ESSAY ON LYRIC POETRY.,111-118,110-117
46,CB0132796469,T178542,Essay on Poetry,11-20,9-18
59,CB0129122950,N21263,A HISTORICAL ESSAY ON SCOTISH SONG.,xi-cxix,14-122
63,CB0126124028,T225266,THE INTRODUCTION.,NaN,3-4
103,CB0131333744,T123095,PART I.,1-26,11-36
104,CB0129436673,T224152,PART I.,1-26,12-37
105,CB0127376362,T169662,PART I.,7-28,7-28
110,CB0131333744,T123095,PART IV. Of Prosody,156,166
111,CB0129436673,T224152,PART IV. Of Prosody,156,167
112,CB0127376362,T169662,PART IV. Of Prosody,138,138
118,CB0131341019,N6906,PREFACE.,i-xxxvi,12-47
119,CB0132627374,N34692,PREFACE.,121-122,119-120
120,CB0127060264,W12782,PREFACE.,iii-xxi,3-21
125,CB0128330490,N65522,PREFACE.,i-iv,3-6
127,CB0132422117,T202397,PREFACE.,i-iv,4-7
134,CB0127251015,T166416,THE PREFACE.,iii-xxiv,3-28
137,CB0129230262,W38526,THE PREFACE.,iii-xxiii,3-23
153,CB0129206667,T149838,THE PREFACE.,v-viii,5-8

In [30]:
df_xml_meta = pd.read_csv('data/data.all_xml_metadata.ECCOII.csv')
df_xml_meta

/var/folders/lr/4b86rf2j23b_ffx1vrc2md3c0000gp/T/ipykernel_26160/606190767.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_xml_meta = pd.read_csv('data/data.all_xml_metadata.ECCOII.csv')

,ocr,psmid,assetid,assetidetoc,dvicollectionid,bibliographicid,unit,reel,mcode,year,...,totalvolumes,publicationplacecity,publicationplacecomposed,totalpages,collation,author_composed,author_first,author_last,author_birthdate,author_deathdate
0,93.30,1298600200,126069793,426069793,ECCOC0001,N11515,372,12986,2NEG,1764.0,...,0,Bristol,Bristol,34,34p. ; 12°,"Wesley, John",John,Wesley,1703,1791
1,85.09,1298600300,126069827,426069827,ECCOC0001,T171468,372,12986,2NEG,1771.0,...,0,Bristol,Bristol,28,24p. ; 12°,"Fleury, Claude",Claude,Fleury,1640,1723
2,82.17,1298600400,126069855,426069855,ECCOC0001,N15815,372,12986,2NEG,1778.0,...,0,London,London,12,12p. ; 12°,"Wesley, John",John,Wesley,1703,1791
3,78.93,1298600500,126069867,426069867,ECCOC0001,N22732,372,12986,2NEG,1780.0,...,0,London:,London:,12,12p. ; 12°,"Wesley, John",John,Wesley,1703,1791
4,93.80,1298600600,126069879,426069879,ECCOC0001,T162994,372,12986,2NEG,NaN,...,0,London,London,211,"[4] vi,[2],191,[1]p. ; 12°","Watts, Isaac",Isaac,Watts,1674,1748
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52681,57.64,1783800115,132979036,432979036,ECCOC0001,T105200,509,17838,2NEI,NaN,...,19,Dublin,Dublin,1032,19v. ; 2°,NaN,NaN,NaN,NaN,NaN
52682,57.74,1783800116,132980068,432980068,ECCOC0001,T105200,509,17838,2NEI,NaN,...,19,Dublin,Dublin,995,19v. ; 2°,NaN,NaN,NaN,NaN,NaN
52683,55.11,1783800117,132981063,432981063,ECCOC0001,T105200,509,17838,2NEI,NaN,...,19,Dublin,Dublin,1538,19v. ; 2°,NaN,NaN,NaN,NaN,NaN
52684,55.06,1783800118,132982601,432982601,ECCOC0001,T105200,509,17838,2NEI,NaN,...,19,Dublin,Dublin,684,19v. ; 2°,NaN,NaN,NaN,NaN,NaN
52685,55.10,1783800119,132983285,432983285,ECCOC0001,T105200,509,17838,2NEI,NaN,...,19,Dublin,Dublin,1560,19v. ; 2°,NaN,NaN,NaN,NaN,NaN

In [31]:
def find_pages_row(row):
    idx=row.record_id
    print(idx in set(df_xml_meta.bibliographicid))
    return get_pages(idx)

In [25]:
# with get_page_cache() as cache:
#     with open('data/cache_keys.txt','w') as of:
#         of.write('\n'.join(list(cache.keys())))

In [26]:
find_pages_row(df_excerpts_ecco2.iloc[1])

False

{}